*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.amazon{
    &-navsec{
        height: 80px;
        background-color: #131921;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        .logo{
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
         img{
           width: 100%;
         }
        }
        .location{
            font-weight: 600;
            color: #fff;
            .top{
              margin-left: 22px;
            }
            .bottom{
                display: flex;
                align-items: center;
                   .icon{
                    margin-right: 8px;
                    img{
                        width: 18px;
                    }
                }
               svg{
                width: 16px;
                color: #fff;
               }
            }
        }
    }
    &-searchbox{
        display: flex;
        justify-content: space-evenly;
        height: 40px;
        width: 600px;
        border: 0;
        outline: 0;
        .category{
            width: 60px;
            text-align: center;
            outline: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        input{
            width: 100%;
            border: 0;
            outline: none;
            padding-left: 8px;
        }
        .seach-icon{
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(235,182,84);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 8px;
            img{
                width: 100%;
            }
        }
        &:hover{
            border: 1px solid rgb(212, 158, 59);
            border-radius: 10px;
        }
    }
    &-language{
        display: flex;
        align-items: center;
        select {
            color: #fff;
            background: transparent;
            border: 0;
            width: 70px;
            font-weight: 600;
        }
        img{
            width: 40px;
        }
    }
    .signin{
        margin: 10px;
        .text{
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
        }
        .name{
            color: #fff;
            font-weight: 600;
            font-size: 14px;
        }
    }
    &-accountdetails{
        display: flex;
       
    }
    .cart{
        margin: 10px;
        display: flex;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        align-items: center;
        img{
            width: 32px;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    
  }